*{
    padding: 0px;
    margin: 0px;
    background-color: #F5F8FF;
}
  /*heder box 1 */
header {
    height: 698px;
    background-image: url(Assets/Hero-bg.png);
    
}

#hiding-2{
    width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
    background-image: url(Assets/Hero-bg.png);
}

#hiding-2 h2 {
    color: #4E47FF;
    font-size: 34px;
    font-weight: bolder;
}

#button-t {
    background-color: #4E47FF;
    padding: 12px 36px;
    color: white;
    font-size: 16px;
    border-radius:12px ;
    border: 1px solid white;
}
#hiding-1 {
    width: 905px;
    height: 152px;
    text-align: center;
    margin: 152px auto;
    
}

#hiding-1 h2{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 37px;
    background-image: url(Assets/Hero-bg.png);
}

/* main box 1 */

#main-1{
    width: 1140px;
    height: 328px;
    margin: 116px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-2 h2{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;
}

#main-2 p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
#p-1{
    margin-bottom: 23px;
}

#img-1 {
    border-radius: 48px;
}

/* main box 2 */
#main-box-1 {
    width: 1140px;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 116px auto;
    position: relative;
    border-radius: 24px;
}

#main-box-2 {
    width: 856px;
    height: 206px;
    margin: 50px 150px;
    position: absolute;
    text-align: center;
    
    
}

#main-box-2 h2 {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 40px;
    background-color: rgba(78, 71, 255, 0.1);
    
}
#main-box-3{
    display: flex;
    justify-content: space-between;
    background-color: rgba(78, 71, 255, 0.1);


}

#main-box-3 h3 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    background-color: rgba(78, 71, 255, 0.1);
    
}

#main-box-3 P{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(78, 71, 255, 0.1);
}

/* main box-3 */
#box-1 {
    width: 1140px;
    height: 342px;
    margin: 137px auto;
    
    
}

#box-3 {
    height: 243px;
    display: flex;
    

    
    
}

#box-2 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
    text-align: center;
    
}
#box-4 {
    border: 2px solid #F2EDED;
    border-radius: 14px;
     margin: 0px 20px;
     background-color: #FFFFFF;
     justify-content: space-between;
     padding: 24px;
     
}

#box-3 h2 {
    font-size: 24px;
    color: #1E1E1E;
    background-color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 24px;
}
#box-3 p {
    font-size: 16px;
    color: #1E1E1E;
}
#box-5{
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
}

#box-5 img {
    border-radius: 50%;
    margin-right: 12px;
    
}
#box-5 h3 {
    color: #757575;
    font-size: 16px;
    font-weight: semi bold;
    background-color: #FFFFFF;
}

#box-3 p{
    font-size: 16px;
    color: #1E1E1E;
    background-color: #FFFFFF;
    margin-bottom: 24px;

}

/* main-box-4 */
#main-box-4-1 {
    width: 1000px;
    height: 600px;
    background-color: #FFFFFF;
    padding: 79px;
    text-align: center;
    margin: 0px auto;
    border-radius: 14px;
    margin-bottom: 92.23px;
}
#main-box-4-2 {
    width: 840px;
    height: 364.77px;
    margin: 20px auto;
    background-image: url(Assets/wc-big.png);
    background-size: cover;
    border-radius: 48px;
}

#main-box-4-1 h2{
    font-size: 50px;
    font-weight: bold;
    color: 000000;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

#main-box-4-1 p{
    font-size: 16px;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

/* foter-box-1 */
#fotter-1 {
    width: 1140px;
    height: 632px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: space-between;
}

#fotter-1 h2 {
    font-size: 97px;
    font-weight: bold;
    color: 000000;
    margin-right: 115px;
}

#label-1{
    font-size: 18px;
    font-weight: Medium;
    margin-bottom: 10px;
}

form input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 20px 32px;
    background-color: #FFFFFF;
    border: 2px solid #D6DDED;
    margin-bottom: 10px;
}
#label-2 {
    border-radius: 10px;
    padding: 20px 32px;
    background-color: #FFFFFF;
    border: 2px solid #D6DDED;
    width: 300px;
    height: 70px;
    font-size: 18px;
    font-weight: Medium;
    margin-bottom: 10px;
}
input ::placeholder {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

#button-r {
    background-color: #4E47FF;
    padding: 19px 137px;
    color: white;
    font-size: 16px;
    border-radius:12px ;
    border: 1px solid white;
}

/* foter-box-2 */

